.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 81%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 5%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 10%
    left: -130%
  &-4
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 50%
    left: -140%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)
.banner-principal__componente h1
  color: #12263F
.banner-principal p
  margin-top: 20px
  color: #12263F
.fa-info:before
  color: #12263F
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: #12263F
.bloque-texto-g.color-acento-contenido
  background-color:#3D672F
.bg5
  background-image: url("../assets/curso/Tema1/2.svg") !important
  background-position: 100% 100%
  background-size: contain
  margin-inline: -3.0rem
  padding-right: 25px
  padding-left: 25px
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -1.0rem
.bg6
  background-image: url("../assets/curso/Tema1/bg6.png") !important
  background-position: 100% 100%
  background-size: contain
  margin-inline: -3.0rem
  padding-right: 25px
  padding-left: 25px
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -1.0rem
.bg7
  background-image: url("../assets/curso/Tema1/bg7.png") !important
  background-position: 100% 100%
  background-size: contain
  margin-inline: -3.0rem
  padding-right: 25px
  padding-left: 25px
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -1.0rem
.fon33
  background-image: url("../assets/curso/fondos/fondo4.png") !important
  background-position: 100% 100%
  background-size: contain
  margin-inline: -3.0rem
  padding-right: 25px
  padding-left: 25px
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -1.0rem
.bg1
  background-image: url("../assets/curso/Tema1/bg1.png") !important
  background-repeat: no-repeat 
  @media screen and ( max-width: 420px)
    background-color: #E8E7E7
    background-image: none!important
.cel
  @media screen and ( max-width: 420px)
    width: 20%
    margin-left: auto
    margin-right: auto
.baqw
  @media screen and ( max-width: 420px)
    width: 50%
    margin-left: auto
    margin-right: auto
.bg2
  background-image: url("../assets/curso/Tema1/bg2.png") !important
  background-repeat: no-repeat     
  background-position-y: 120px
.lista-ul--color li > i:first-of-type
  color: #FFB338
.bg3
  background-image: url("../assets/curso/Tema1/bg3.png") !important
  background-repeat: no-repeat     
  background-position-y: 120px
.bg4
  background-image: url("../assets/curso/Tema1/bg4.png") !important
  background-repeat: no-repeat     
  background-position-y: 120px
.mtq
  margin-top: -25px
.c2
  color: #EB6F2D
.fon1
  background-color: #F7F1E0
  background-image: url("../assets/curso/fondos/fondo1.png") !important
  background-repeat: no-repeat  
.fon11
  background-color: #F7F1E0
  background-image: url("../assets/curso/fondos/fondo6.png") !important
  background-repeat: no-repeat  
  background-position: center bottom
  background-size: cover
.tarjeta.tarjeta--azul1.acordion__activo
  background-image: url("../assets/curso/fondos/fondo7.png") !important
  background-repeat: no-repeat  
  background-color: #FFE5BC
  background-position: center bottom
.fon2
  background-color: #DDEAF2
  background-image: url("../assets/curso/fondos/fondo2.png") !important
  background-repeat: no-repeat  
.fon22
  background-color: #DDEAF2
  background-image: url("../assets/curso/fondos/fondo5.png") !important
  background-repeat: no-repeat  
  background-position: center bottom
  background-size: cover
.fon3
  background-color: #E9E9E9
  background-image: url("../assets/curso/fondos/fondo3.png") !important
  background-repeat: no-repeat  
  background-position: center bottom
  background-size: cover
.ba1
  background-color: #FFECBE
  margin-right:  5px
  background-image: url("../assets/curso/fondos/fondo8.png") !important
  background-repeat: no-repeat  
.ba2
  background-color: #B5CCAD
  margin-left:  5px
.tamimg
  width: 66px
.img-infografica-b__modal
  background-color: #BFBFBF
.img-infografica-b__modal__contenido div > *
  color: #12263F!important
.img-infografica-b__modal__btn-cerrar i
  color: #707070
.tabla-a.color-acento-contenido thead
  border-color: #3D672F!important
  background-color: #3D672F!important
  color: white
.tam1
  width: 80px
.tarjeta.color-acento-botones
  background-color: #F3F9FF
.tarjeta.color-acento-botones *
  color: #12263F
.aa
  width: 80px
.tta
  background-color: #B6E1FD
  border-radius: 20px
.tte
  border-bottom: 3px solid #FFB338
  position: relative
.tarjeta.color-primario1
  background-color:#FFF4D9
.cajon.color-primario
  background-color: #FFF3D6
.aqw
  width: 650px
.linea-tiempo-d.color-acento-botones .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color:#CBE5FE
  color: #12263F
.linea-tiempo-d.color-acento-botones .linea-tiempo-d__item--selected
  .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
    background-color: #CBE5FE
.tarjeta--azul1
  background-color: #FFF5DD
.qaw
  background-color: #F6F6F6
.tabs-a.color-acento-botones .tabs-a__tab__selected
  background-color: #CFECFF!important
  color: #12263F!important
.tabs-a__tab
  background-color: #E8E8E8!important
  color: #12263F!important
.tabs-a.color-acento-botones .tabs-a__tab__selected:before
  background-color: #CFECFF!important
.tabla-b.color-acento-contenido .tabla-b__header
  background-color:#3D672F
.tabla-b.color-acento-contenido .tabla-b__header *
  text-align: left
.bgta
  background-color: #F6F6F6
  border-bottom: 2px solid #D5D5D5
.aqws
  background-color: #FFECBE
  border-radius: 15px
.boton *, .boton--sm *
  color: white
.slyder-a.mt-5.fon1.aq
  .slyder-a__btn--sigt, .slyder-a__btn--atrs

  .slyder-a__bullets__item--active
    background-color: #EB6F2D!important
    border-color:#EB6F2D
  .slyder-a__bullets__item
    background-color: #EFC7A9
.slyder-a.mt-5.fon2.aq
  .slyder-a__bullets__item--active
    background-color: #EB6F2D!important
    border-color:#EB6F2D
  .slyder-a__bullets__item
    background-color: #EFC7A9
.slyder-a.mt-5.fon3.aq2
  .slyder-a__bullets__item--active
    background-color: #008BD2!important
    border-color:#008BD2
  .slyder-a__bullets__item
    background-color: #A4CCDF
.c22
  background-color: #C2DBF1
.slyder-a.mt-5.fon2.aq3
  .slyder-a__bullets__item--active
    background-color: #1B3F5E!important
    border-color:#1B3F5E
  .slyder-a__bullets__item
    background-color: #A3B6C5
.slyder-a.mt-5.fon1.aq2
  .slyder-a__bullets__item--active
    background-color: #008BD2!important
    border-color:#008BD2
  .slyder-a__bullets__item
    background-color: #A4CCDF
.slyder-a.pp
  .slyder-a__bullets__item--active
    background-color: #EB6F2D!important
    border-color:#EB6F2D
  .slyder-a__bullets__item
    background-color: #EFC7A9
  .slyder-a__btn--sigt, .slyder-a__btn--atrs
    background-color:   #EB6F2D
    color: white!important
.bgcolor
  background-color: #FEDCA5!important
.fonb
  background-color: white
.pasos-b.color-primario .pasos-b__header__item--active .pasos-b__header__item__dot
  background-color: #EB6F2D!important
  border-color: #EB6F2D!important
.pasos-b.color-primario .pasos-b__header__item--active .pasos-b__header__item__dot span  
  color: white
.pasos-b__header__item__dot
  background-color: white
.ppp
  background-image: url("../assets/curso/fondos/fon.png") !important
  background-repeat: no-repeat  
  background-position-y: bottom
  background-position-x: 11px
  background-size: 50% 60%
  .img-ico
    margin-bottom: -7px
    width: 104px
.ppp2
  background-image: url("../assets/curso/fondos/fon2.png") !important
  background-repeat: no-repeat  
  background-position-y: bottom
  background-position-x: 11px
  background-size: 100% 60%
  .img-ico
    margin-bottom: -7px
.ppp3
  background-image: url("../assets/curso/fondos/fon3.png") !important
  background-repeat: no-repeat  
  background-position-y: bottom
  background-position-x: 11px
  background-size: 83% 60%
  .img-ico
    margin-bottom: -7px
    width: 104px
.marl
  margin-left: -20px
.sombra
  box-shadow: 4px 0px 16px 0px rgba(184,184,184,1)
.tabla1
  background-color: #F8D7CD
.tabla2
  background-color: #FCECE8
.slyder-a.mt-5.fon3.aq2
  .slyder-a__bullets__item
.slyder-a.mt-5.fon22.aq3
  .slyder-a__btn--sigt, .slyder-a__btn--atrs

.slyder-a.mt-5.fon11.aq2
  .slyder-a__btn--sigt, .slyder-a__btn--atrs

.imgp
  @media screen and ( max-width: 420px)
    width: 20%
    margin-left: auto
    margin-right: auto
.slyder-f__slyde.col-lg-6.col-xl-4
  padding: 1.5rem
.tema1-5 th 
  font-size: 15px
.tabla-a table.tema1-5 
  min-width: 320px
.fon35
  background-image: url("../assets/curso/fondos/fondo9.png") !important
  background-position: 100% 100%
  background-size: contain
  margin-inline: -3.0rem
  padding-right: 25px
  padding-left: 25px
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -1.0rem
.marn
  @media screen and ( max-width: 420px)
    margin-top: -15px
.slyder-a__bullets__item
   @media (max-width: $bp-max-xs)
    margin: 0px 5px
.largos .slyder-a__bullets__item
   @media (max-width: $bp-max-xs)
    margin: 0px 3px
    width: 13px 
    height: 13px


